{% extends "base.html" %}
<!---->
{% block contant %}
<div class="row">
  {% for i in list %}
    <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
      <div class="card card-hover card-wrapper" style="width: 100%;">
        <img src="https://scontent-bkk1-1.xx.fbcdn.net/v/t39.30808-6/428616273_1198112834497527_5723092732330610786_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=833d8c&_nc_eui2=AeFlWV-n-QFd9TXglE6JpAO6WZdUOx2d5lhZl1Q7HZ3mWICd6VCmLmd78etyNAXxgU16mtMYBtqb1vqFssfRHc6K&_nc_ohc=L8LLOPJn5kgQ7kNvgE6d1GL&_nc_ht=scontent-bkk1-1.xx&oh=00_AYBBHopt7J6jfS3UITKSlogcLkg0ezFZeG_MdoPtmJ9Z_Q&oe=66C0DBE2" class="card-img" alt="" />
        <div class="card-body">
          <h5 class="card-title">กันน้อย ซอยยิ้ก</h5>
          <p class="card-text">FACEBOOK</p>
          <a href="https://www.facebook.com/profile.php?id=100028964653381" class="btn btn-primary">วาร์ป</a>
        </div>
      </div>
      <div class="card card-hover card-wrapper" style="width: 100%;">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/455039895_504299555326175_5577539983112913057_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeHGfkqLrqllDi3B4qZRO_Y98NLlrJaGKTzw0uWsloYpPD-xj3mif37dtjGdRIwWVNN-JjkwCWvZz5gJAU0pZ1xI&_nc_ohc=AJFxyxGQ2WsQ7kNvgEJlam4&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QEI0inEliSyYZIbIwxgMSu2uz7UCMkjqKuxjKAI72WqnQ&oe=66E26AEF" class="card-img" alt="" />
        <div class="card-body">
          <h5 class="card-title">กันน้อย ซอยยิ้ก</h5>
          <p class="card-text">FACEBOOK</p>
          <a href="https://www.facebook.com/profile.php?id=100028964653381" class="btn btn-primary">วาร์ป</a>
        </div>
      </div>
      <div class="card card-hover card-wrapper" style="width: 100%;">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/451304933_1516852055589778_4931567137442305198_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeEc7DTgo6cdFtitTgcibmkfcvC0tOaS9gty8LS05pL2C9x6Yio2QbfK5IadNjtN5E__AI-EPK3IeCG9Ho3iZO6l&_nc_ohc=p9gReiFH3o8Q7kNvgFd0FtA&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QG_FtF_3XDhvToirsTrxNlrjH9BmnLHNfaS4CcrHETOOg&oe=66E262FE" class="card-img" alt="" />
        <div class="card-body">
          <h5 class="card-title">กันน้อย ซอยยิ้ก</h5>
          <p class="card-text">FACEBOOK</p>
          <a href="https://www.facebook.com/profile.php?id=100028964653381" class="btn btn-primary">วาร์ป</a>
        </div>
      </div>
      <div class="card card-hover card-wrapper" style="width: 100%;">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/454175791_1488676111790707_7588081573880458853_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=0024fc&_nc_eui2=AeFymgpsiNGBjaEvSHLZ5LL4J8Jyz9NcGLEnwnLP01wYsVDacithGMzJ0EuFqwUd03nfatoj2XCYSKuaNlrsoOvB&_nc_ohc=Q5rX9tRcj74Q7kNvgG6VEC9&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_Q7cD1QHOjFmmOKgv7CnUIbTPmtn7SOjZRBHbCY5d_IXZtHxyaw&oe=66E2696B" class="card-img" alt="" />
        <div class="card-body">
          <h5 class="card-title">กันน้อย ซอยยิ้ก</h5>
          <p class="card-text">FACEBOOK</p>
          <a href="https://www.facebook.com/profile.php?id=100028964653381" class="btn btn-primary">วาร์ป</a>
        </div>
      </div>
    </div>
  {% endfor %}
{% endblock contant %}